@media only screen and (max-width: 769px) {
  .navbar-toggler{
    cursor: pointer;
    background: white;
    border: 1px solid gray;
    justify-content: space-between;
  }
  .container-fluid{
    text-align: center;
  }
  .responsive {
    width: 50%;
  }
}
@media only screen and (max-width: 450px) {
  .responsive {
    width: 100%;
  }
}
.card{
  justify-content: space-between;
}